@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-display: swap;
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.woff") format("woff");
  }
}

@function font-size($adaptive, $value: "base") {
  @return map-get(map-get($font-size, $adaptive), $value);
}

@function headers($adaptive, $value) {
  @return map-get(map-get($headers, $adaptive), $value);
}
